# Python bytecode
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environment
venv/
env/
.venv/

# IDE-specific files
.vscode/
.idea/

# Temporary files
*.log
*.tmp

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/